@use "sass:color";

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 25px;
  border-radius: 8px;
  appearance: none;
  background: var(--color-button);
  border: 1px solid var(--color-button-border);
  cursor: pointer;
  user-select: none;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.005em;
  text-align: center;
}

$test: #ff0000;

.button--primary {
  --color-button: #F3692E;
  --color-button-border: transparent;
  --color-button-text: #fff;

  &:hover {
    --color-button: darken(#F3692E, 0.2);
    @debug color.adjust($test, $lightness: -30%);
    --color-button-text: #fff;
  }
}

.button--outline {
  --color-button: transparent;
}