@use "sass:color";
@import "../../../styles/settings/variables.scss";

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 25px;
  border-radius: 8px;
  appearance: none;
  background: var(--color-button);
  border: 1px solid var(--color-button-border);
  cursor: pointer;
  user-select: none;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.005em;
  text-align: center;
  test: $color-primary;
  text-decoration: none;
  transition: 0.2s ease-in;
  transition-property: background-color, color, border-color;
}

.button.button--primary {
  background-color: $color-primary;
  border: transparent;
  color: #2c2c2c;


  &:hover {
    background-color: $color-primary--hover;
    border: transparent;
  }
}

.button--outline {
  --color-button: transparent;
}