.experience__column-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 120px;

  @media screen and (max-width: 480px) {
    grid-template-columns: 1fr;
    gap: 25px;
  }
}

.experience__position-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}