.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.header__navigation-list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  gap: 30px;
}